---
layout: astral/default
---

<div class="ui fixed borderless inverted menu">
  <a href="/astral/" class="header item">
    <i class="sun icon"></i> Astral
  </a>
  <a href="/astral/" class="item">
    <i class="home icon"></i> Home
  </a>
  <a href="/astral/about" class="item">
    <i class="info circle icon"></i> About
  </a>
  <a href="/astral/docs" class="item">
    <i class="book icon"></i> Docs
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui inverted right labeled icon button">
        1.0.0-alpha1
        <i class="down arrow icon"></i>
      </div>
    </div>
  </div>
</div>

<div class="ui text container" style="padding-top:75px; padding-bottom:50px">
  {{ content }}
</div>
