<div class="ui borderless main inverted menu">
  <div class="ui container">
    <div href="{{ "/" | relative_url }}" class="header item">
      <img src="https://avatars1.githubusercontent.com/u/4932608?s=460&v=4" class="ui avatar image">
      {{ site.title | escape }}
    </div>
    {% include menu-loop.html %}
    <div class="right menu">
      <a class="toc right item">
        <i class="large sidebar icon"></i>
      </a>
      <div class="item">
          <div class="ui basic inverted icon buttons">
            {% include social-buttons.html %}
          </div>
        </div>
    </div>
  </div>
</div>
