---
layout: post
---



<div class="ui main text container" style="margin-top:7em">

  <div class="ui unstackable divided items">
    {% for post in site.posts %}
      <div class="item">
        <div class="ui small image">
          <img src="https://semantic-ui.com/images/wireframe/image.png">
        </div>
        <div class="middle aligned content">
          <div class="header">
            {{ post.title }}
          </div>
          <div class="meta">
            {% for category in post.categories %}
              {% if category != 'blog'  %}
              <div class="ui label"><i class="tag icon"></i> {{ category }}</div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="description">
            <p>{{ post.excerpt }}</p>
          </div>
          <div class="extra">
            <div class="ui right floated button">
              Action
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
