<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <!-- Sidebar Menu -->
    {% include sidebar-menu.html %}

    <!-- Following Menu -->
    {% include following-menu.html %}

    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <div href="{{ "/" | relative_url }}" class="header item">
              <!--<img src="/assets/astral-logo-light.png" style="margin-right:1rem; width:35px">-->
              {{ site.title | escape }}
            </div>
            {% include menu-loop.html %}
            <a class="toc right item">
              <i class="sidebar icon"></i>
            </a>
            <!--<a class="ui inverted button">Log in</a>
            <a class="ui inverted button">Sign Up</a>-->

          </div>
        </div>
        <div class="ui text container">
          <h1 class="ui inverted header">
            Welcome!
          </h1>
          <h2>I'm Anderson Fernandes. In this website, you will see some of my work and hobbies. Enjoy!</h2>
          <a href="/blog" class="ui huge basic inverted button"><i class="edit icon"></i> Blog</a>
          <a href="/about" class="ui huge basic inverted button"><i class="info circle icon"></i> About</a>
          <a href="https://www.paypal.me/anderfernandes" target="_blank" class="ui huge inverted active basic button"><i class="coffee icon"></i> Buy us cofeee!</a>
        </div>
        <div class="ui center aligned container" style="margin-top: 25vh">
           &copy;  2017, 2018 @anderfernandes
        </div>
      </div>
      {{ content }}
    </div>

  {% include footer.html %}

  </body>
</html>
