---
layout: default
---

{% include menu-home.html %}

<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a href="{{ "/" | relative_url }}" class="header item">
          <!--<img class="logo" src="https://semantic-ui.com/examples/assets/images/logo.png" style="margin-right:1.5em">-->
          {{ site.title | escape }}
        </a>

        <a href="/" class="{% if page.url == '/' %}active {% endif %} item"><i class="home icon"></i>Home</a>
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}
        {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.title %}
          <a class="{% if my_page.url == page.url %}active {% endif %} item" href="{{ my_page.url | relative_url }}">
            <i class="{{ my_page.icon }} icon"></i>
            {{ my_page.title | escape }}
          </a>
          {% endif %}
        {% endfor %}
        <div class="right item">
          <!--<a class="ui inverted button">Log in</a>
          <a class="ui inverted button">Sign Up</a>-->
        </div>
      </div>
    </div>
    <div class="ui text container">
      <h1 class="ui inverted header">
        Welcome!
      </h1>
      <h2>I'm Anderson Fernandes. In this website, you will see some of my work and hobbies. Enjoy!</h2>
      <a href="/blog" class="ui huge primary button"><i class="edit icon"></i> Blog</a>
      <a href="/about" class="ui huge primary button"><i class="info circle icon"></i> About</a>
      <a href="/portfolio" class="ui huge primary button"><i class="picture icon"></i> Portfolio</a>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Full Stack Web Development</h3>
          <p>From setting up web servers like Apache, Nginx, Node/Express or cloud services like Digital Ocean, Heroku, Azure all the way down to front end and analytics.</p>
          <h3 class="ui header">Javascript, PHP, Ruby...</h3>
          <p>...and their best frameworks such as React, Laravel and Rails.</p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/code-1839406_1920.jpg" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button"><i class="info circle icon"></i> Check it out!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"I thought it would be harder."</h3>
          <p>Quay Freeman, former App Inventor student.</p>
        </div>
        <div class="column">
          <h3>As seen on the Killeen Daily Herald</h3>
          <p>
            My App Inventor class was <a href="http://kdhnews.com/news/education/code-creators-students-learn-to-create-phone-apps/article_6bde107a-f834-11e3-b893-001a4bcf6878.html">featured</a> as a top story in the cover of the Killeen Daily Herald.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Interested in learning?</h3>
      <p>In the summer of 2017 you can sign up your teens to take my classes at Central Texas College and the Boys and Girls Club, both in Killeen, Texas.</p>
      <a class="ui large button"><i class="calendar icon"></i> Schedule</a>
      <h4 class="ui horizontal header divider">
        <a href="#">Case Studies</a>
      </h4>
      <h3 class="ui header">This website is a work in progress!</h3>
      <p>I will slowly update it, please come back soon for more!</p>
      <!--<a class="ui large button">I'm Still Quite Interested</a>-->
    </div>
  </div>
</div>
