---
layout: default
---

{% include sidebar-menu.html %}

<div class="pusher">

  <div class="ui main text container">

    <h1 class="ui header" style="padding-top: 2rem; padding-bottom: 2rem">
      {{ page.title }}
      <div class="sub header">{{ page.excerpt }}</div>
      <div class="ui divider"></div>
    </h1>

    <button class="ui facebook button">
      <i class="facebook icon"></i>
      Facebook
    </button>
    <button class="ui twitter button">
      <i class="twitter icon"></i>
      Twitter
    </button>
    <button class="ui google plus button">
      <i class="google plus icon"></i>
      Google Plus
    </button>
    <button class="ui linkedin button">
      <i class="linkedin icon"></i>
      LinkedIn
    </button>

    <br /><br />

  </div>

  {% include menu-pages.html %}

  <div class="ui main text container" style="padding-bottom: 3rem">

    <br />

    {{ content }}

  </div>
</div>
